<h1>Рабочее время</h1>

<div class="form-group">
  <%= link_to 'Новый интервал', new_admin_working_hour_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <th>Начало</th>
    <th>Конец</th>
    <th></th>
  </thead>
  <tbody>
    <%= render partial: 'admin/working_hours/working_hour', collection: @working_hours, cached: true %>
  </tbody>
</table>
