<% cache [:admin, badge] do%>
  <tr>
    <td><%= badge.name %></td>
    <td><%= image_tag badge.image_url %></td>
    <td>
      <%= link_to 'Изменить', edit_admin_badge_path(badge), class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Удалить', [:admin, badge], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger' %>
    </td>
  </tr>
<% end %>
