<h1>Иконки</h1>

<%= link_to 'Новая иконка', new_admin_badge_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Иконка</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'admin/badges/badge', collection: @badges, cached: true %>
  </tbody>
</table>

<%= paginate @badges %>
