.Title_Small
{
	font-family: museo-sans-n5, sans-serif;
}

.Title_Images
{
	font-family: fira-sans-n7, sans-serif;
}

.Character-Style-1
{
	font-family: asap-n7, sans-serif;
}

.Subtitle,.Character-Style-24
{
	font-family: open-sans-n3, sans-serif;
}

#u4085-4,#u4025-7,#u4010-8,#u4022-5,#u4019-4,#u4029-4,#u4028-4,#u3805-2,#u3805-4,#u3805-5,#u3805-7,#u3805-9,#u4073-13
{
	font-family: open-sans-n4, sans-serif;
}

#u3511-4,#u3510-4,#u3933-4,#u3939-4,#u3790-4,#u3789-4,#u3278-4,#u3277-5,#u3284-10,#u3805-10,#u4095-4
{
	font-family: open-sans-n3, sans-serif;
}

