<h1>Отзывы</h1>

<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Оценка</th>
      <th>Отзыв</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'admin/orders/order', collection: @orders, cached: true %>
  </tbody>
</table>

<%= paginate @orders %>
