<h1>Отзывы</h1>

<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Оценка</th>
      <th>Отзыв</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, [:admin, order] %></td>
        <td><%= order.rating %></td>
        <td><%= order.review %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
