<h1>Пункт доставки</h1>

<div class="form-group">
  <%= link_to 'Новый пункт', new_admin_delivery_point_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <th>Широта</th>
    <th>Долгота</th>
    <th></th>
  </thead>
  <tbody>
    <% @delivery_points.each do |delivery_point| %>
      <tr>
        <td><%= delivery_point.latitude %></td>
        <td><%= delivery_point.longitude %></td>
        <td>
          <%= link_to 'Удалить', [:admin, delivery_point], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
