<h1>Пункт доставки</h1>

<div class="form-group">
  <%= link_to 'Новый пункт', new_admin_delivery_point_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <th>Широта</th>
    <th>Долгота</th>
    <th></th>
  </thead>
  <tbody>
    <%= render partial: 'admin/delivery_points/delivery_point', collection: @delivery_points, cached: true %>
  </tbody>
</table>
