<h1>Экспорт</h1>

<%= form_tag admin_exports_path, method: :post do %>
  <div class="form-group input-group date datepicker">
    <%= text_field_tag :from, nil, placeholder: 'От', class: 'form-control' %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="form-group input-group date datepicker">
    <%= text_field_tag :to, nil, placeholder: 'До', class: 'form-control' %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="form-group">
    <%= submit_tag 'Экспорт', class: 'btn btn-primary' %>
  </div>
<% end %>
