.Title_Small
{
	font-family: museo-sans-n5, sans-serif;
}

.Title_Images
{
	font-family: fira-sans-n7, sans-serif;
}

.Character-Style-1
{
	font-family: asap-n7, sans-serif;
}

.Subtitle,.Character-Style-24
{
	font-family: open-sans-n3, sans-serif;
}

#u4627-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4650-4,#u4647-7
{
	font-family: open-sans-n3, sans-serif;
}

