<h1>Ингредиенты</h1>

<div class="form-group">
  <%= link_to 'Новый ингредиент', new_admin_ingredient_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'admin/ingredients/ingredient', collection: @ingredients, cached: true %>
  </tbody>
</table>

<%= paginate @ingredients %>
