# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2a5dde8b281df60e66bbe78c696f7372fabdfb4b42bfa6c0cb9395af53ad58af83c6b494e834242d9adabbb10a19784cfd24274a59bc41d09f70eed3e88e9885
  sms_ru_api_id:

test:
  secret_key_base: 603e5f41c454800e5d144a9db3e862192fc256dfa91000872fc7093d9c35ef5549d2097664f9436194b55c629e4565ff1ecab4ff7e9340b7397170ac171915a4
  sms_ru_api_id:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  sms_ru_api_id: <%= ENV["SMS_RU_API_ID"] %>
