<h1>Курьеры</h1>

<div class="form-group">
  <%= link_to 'Новый курьер', new_admin_courier_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Точка</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @couriers %>
  </tbody>
</table>
