<h1>Напоминания</h1>

<% unless @menu_present %>
  <div class="alert alert-warning">
    Не заполнено меню на ближайшие три дня.
  </div>
<% end %>

<% if @unassigned.any? %>
  <h2>Непринятые заказы</h2>
  <table class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Адрес</th>
        <th>Статус</th>
        <th>Создан</th>
        <th>Доставить к</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'admin/orders/order', collection: @unassigned, cached: true %>
    </tbody>
  </table>
<% end %>

<% if @late.any? %>
  <h2>Невыполненные заказы</h2>
  <table class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Адрес</th>
        <th>Статус</th>
        <th>Создан</th>
        <th>Доставить к</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'admin/orders/order', collection: @late, cached: true %>
    </tbody>
  </table>
<% end %>
