<% cache [:admin, edge_point] do%>
  <tr>
    <td><%= edge_point.latitude %></td>
    <td><%= edge_point.longitude %></td>
    <td>
      <%= link_to 'Удалить', [:admin, edge_point], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger' %>
    </td>
  </tr>
<% end %>
