<h1>Зона доставки</h1>

<div class="form-group">
  <%= link_to 'Новая точка', new_admin_edge_point_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <th>Широта</th>
    <th>Долгота</th>
    <th></th>
  </thead>
  <tbody>
    <%= render partial: 'admin/edge_points/edge_point', collection: @edge_points, cached: true %>
  </tbody>
</table>
