// Custom page CSS. Not required for template or sticky footer method.
.container .text-muted {
  margin: 20px 0;
}

// Alerts
.alert-notice {
  @extend .alert-info !optional;
}

.alert-alert {
  @extend .alert-danger !optional;
}

// Other
.dish-select {
  select {
    display: inline-block;
    width: auto;
  }

  .btn-danger {
    display: inline-block;
  }
}

.form-image {
  display: block;
}
