<h1>Пользователь: <%= @user.full_name %></h1>

<div class="form-group">
  <strong>Имя:</strong> <%= @user.full_name %>
</div>

<div class="form-group">
  <strong>Почта:</strong> <%= @user.email %>
</div>

<div class="form-group">
  <strong>Телефон:</strong> <%= @user.phone_number %>
</div>


