<h1>Расписание</h1>

<div class="form-group">
  <%= link_to 'Новый день', new_admin_day_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>День</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'admin/days/day', collection: @days, cached: true %>
  </tbody>
</table>
