<h1>Расписание</h1>

<div class="form-group">
  <%= link_to 'Новый день', new_admin_day_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>День</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= link_to day, [:admin, day] %></td>
        <td>
          <%= link_to 'Изменить', edit_admin_day_path(day), class: 'btn btn-default' %>
          <%= link_to 'Удалить', [:admin, day], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
